/* You can add global styles to this file, and also import other style files */
.open {
  color: black;
}

.done {
  color: green;
  text-decoration: line-through;
}

.deleted {
  color: red;
  text-decoration: line-through;
}